* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

/* header styles */
.header-container {
    height: 91vh;
    background: rgba(229, 84, 115, 0.10);
    position: relative;
    display: flex;
    align-items: center;
    




}

.header-title-contain {
    margin-left: 300px;
}

.banner-image {
    height: 81%;
    right: 200px;
    position: absolute;


}

.header-title {
    color: #272727;
    font-weight: 800;
    font-size: 70px;
    margin-bottom: 32px;

}

.header-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    width: 38%;
    line-height: 30px;
}

.btn-pink {
    border-radius: 8px;
    background: #E55473;
    padding: 18px 40px;
    border: 0px;
    color: white;
    margin-top: 32px;
    color: #FFF;
    font-size: 18px;
    font-weight: 400;

}

.btn-pink:hover {
    cursor: pointer;
    background-color: #272727;
}



/* main section styles */

.banner-container {
    text-align: center;
    margin-top: 178px;

}

.banner-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 48%;
    margin: 0 auto;
}

.banner-photo1 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.banner-photo2 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.banner-photo3 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.flower1 {
    width: 310px;
    height: 428px;
    padding: 110px 78px 0 76px;
}

.flower2 {
    width: 370px;
    height: 370px;
    padding: 117px 47px 51px 47px;
}

.flower3 {
    width: 314px;
    height: 471px;
    padding: 67px 75px 0 75px;
}

.banner-photos {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 48px;
    margin-bottom: 200px;
}

.flower-title {
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
    margin-top: 32px;

}

.flower-title:hover {
    cursor: pointer;
}

/* icon container style */

.icon-container {
    height: 50%;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 0 240px;
    padding: 86px;
}



.icon-container h1 {
    color: rgba(39, 39, 39, 0.80);
    font-size: 24px;
    font-weight: 600;
    padding: 20px;

}

/* sale section style */

.sale-container {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
    padding: 100px 0;
}

.sale-title {
    text-align: center;
}

.sale-title h1 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;

}

.sale-title h1>span {
    color: #E55473;
}

.sale-title p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    width: 60%;
    padding: 24px 0 0 0px;
    margin: 0 auto;
}

/* instagram section styles */

.insta-title {
    text-align: center;
    margin-top: 128px;
}

.insta-title h1 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;

}

.insta-title p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    width: 35%;
    padding: 24px 0 0 0px;
    margin: 0 auto;
}

.insta-photo {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 48px;
}

/* details contain styles */


.details-contain {
    height: 50%;
    background-image: url("images/Rectangle\ 9.png");
    background-repeat: no-repeat;
    margin: 128px 240px;

}

.details-title {
    text-align: center;
    padding: 122px;

}

.details-title h1 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 16px;
}

.details-title p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 48px;
}

.details-title input {
    border-radius: 8px;
    background: #FFF;
    width: 55%;
    border: 0px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    padding: 20px;
    margin-right: 16px;

}

/* footer section style */

footer {
    width: 100%;
    background-color: #000000;
    color: #FFF;
    text-align: center;
    padding: 128px 0;
}

footer h1 {
    font-size: 48px;
    font-weight: 800;

}

footer p {
    color: rgba(255, 255, 255, 0.90);
    font-size: 16px;
    font-weight: 400;
    width: 35%;
    padding: 24px;
    margin: 0 auto;


}


footer span {
    color: #E55473;
}

footer small {
    color: rgba(255, 255, 255, 0.40);
    font-size: 14px;
    font-weight: 400;
    margin-top: 32px;
}